<!doctype HTML>
<html>
<head>
  <meta http-equiv="Content-Type" value="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mwitter.css') }}">
</head>
<body>
  <h1>mwitter!</h1>
    <h2>ユーザー</h2>
    {% for user in users %}
    <div>
      <a href="{{ url_for('login', login=user.name) }}">
        {{ user.name }}
      </a>としてログイン
    </div>
    {% endfor %}
    <div class="form">
      <form action="users/create" method="POST">
        新規ユーザー
        <input name="name">
        <input type="submit" value="登録">
      </form>
    </div>
  <h2>すべてのツイート</h2>
  {% for tweet in tweets %}
  <div>
    <a href="{{ url_for('user', name=tweet.author.name) }}">{{tweet.author.name}}</a>
    {{tweet.text}}
  </div>
  {% endfor %}
</body>
</html>
